services:
  booking-server-service:
    container_name: 'booking-server'
    image: booking-api-image:latest
    restart: "always"
    volumes:
      - .:/app
    command: >
      sh -c "alembic upgrade head && uvicorn src.main:app --proxy-headers --host 0.0.0.0 --port 8000"
  booking-celery-worker-service:
    container_name: 'booking-celery-worker'
    image: booking-api-image:latest
    command: "celery --app=src.tasks.celery_app:celery_instance worker -l INFO"
    depends_on:
      - booking-server-service
  booking-celery-beat-service:
    container_name: 'booking-celery-beat'
    image: booking-api-image:latest
    command: "celery --app=src.tasks.celery_app:celery_instance beat -l INFO"
    depends_on:
      - booking-server-service