services:
  booking-server-service:
    container_name: 'booking-server'
    build:
      context: .
    #    ports:
    #      - "8000:8000"
    env_file:
      - .env
    restart: "always"
    volumes:
      - .:/app
    command: >
      sh -c "alembic upgrade head && uvicorn src.main:app --proxy-headers --host 0.0.0.0 --port 8000"
  booking-celery-worker-service:
    container_name: 'booking-celery-worker'
    build:
      context: .
    command: "celery --app=src.tasks.celery_app:celery_instance worker -l INFO"
    env_file:
      - .env
    depends_on:
      - booking-server-service
  booking-celery-beat-service:
    container_name: 'booking-celery-beat'
    build:
      context: .
    command: "celery --app=src.tasks.celery_app:celery_instance beat -l INFO"
    env_file:
      - .env
    depends_on:
      - booking-server-service